################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kinect/AuxiliarKinect/bin/Debug
/Kinect/AuxiliarKinect/obj/Debug
/Kinect/Kinect/obj/Debug
/Kinect/Kinect/bin/Debug
